/* ---------------------------------------
 * variable setting
 * ------------------------------------ */

$linkColor       : #1F7AA5;
$linkColor_hvr   : lighten($linkColor,10%);
$activeColor     : #DB5D90;
$activeColor_hvr : lighten($activeColor,10%);

/* ---------------------------------------
 * import setting
 * ------------------------------------ */

@import url('https://unpkg.com/ress/dist/ress.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'mixins';
@import 'fonts';

 /* ---------------------------------------
  * global setting
  * ------------------------------------ */

* {box-sizing: border-box;}

html {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  color: #202020;
}

body {
  background-color: #f7f7f7;
}

a, button {
  color: $linkColor;
  font-size: inherit;
  text-decoration: none;
  transition: all .125s;
  &:hover, &:active, &:focus {
    color: $linkColor_hvr;
    outline: none;
  }
}



 /* ---------------------------------------
  * layout styling
  * ------------------------------------ */

header {
  h1 {
    margin: 0 auto;
    padding: .25em 1.5%;
    width: 100%;
    background-image: linear-gradient(to left, #96deda 0%, #50c9c3 100%);
    border-top: dotted 1px #202020;
    font-size: 3.2rem;
    line-height: 1.6;
    font-weight: 100;
    color: #fff;
    letter-spacing: .1em;
    text-align: left;
    a {
      color: #fff;
      font-size: inherit;
      &:hover {
        color: #fff;
        text-shadow: 0 0 5px #fff;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1em 0;
  width: 100%;
  background-color: rgba(#202020,.95);
  color: #888;
  font-size: 1.1rem;;
  text-align: center;
  a {
    color: #888;
    font-size: inherit;
  }
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 4em;
}

#main {
  flex-grow: 1;
}

#side {
  flex-basis: 320px;
  padding: 1.5%;
  background-color: #394b4b;
  @include max-screen(480px) {
    display: none;
  }
}

#menu {
  position: sticky;
  top: -1px;
  margin-bottom: 1em;
  box-shadow: 0 0 6px rgba(#000,.25);
  z-index: 100;
  button {
    border: none;
    padding: 1em;
    min-width: 140px;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    .fa {
      display: block;
      margin-bottom: 0.2em;
      font-size: 3rem;
    }
  }

  &-primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #fefefe;
    li {
      display: inline-block;
      text-align: center;
      &:last-child {
        flex-basis: 10%;
      }
    }
  }
  &-secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #eee;
    li {
      display: inline-block;
      padding: 8px 4px;
      font-size: 1.2rem;
      font-weight: 700;
      width: 20%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  #menu {
    li {
      padding: 0;
    }
  }
}

 /* ---------------------------------------
  * contents styling
  * ------------------------------------ */

#description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5%;
  p {
    align-self: center;
  }
  #view {
    display: flex;
    flex-direction: row;
    list-style: none;
    li {
      margin-left: .5em;
      button {
        display: block;
        padding: .5em .75em;
        font-size: 2rem;
        color: #1F7AA5;
        border: solid 1px currentColor;
        transition: all .125s;
        &:hover {
          color: #fff;
          background-color: #1F7AA5;
        }
      }
      &:first-child button { //activeな状態の例
        color: #DB5D90;
        pointer-events: none;
      }
    }
  }
}

#tracks {
  min-height: 640px;
  padding: 1.5%;
}

.track {
  display: flex;
  flex-direction: row;
  color: #555;
  border: 1px solid #ddd;
  background-color: #fefefe;
  padding: 8px;
  min-height: 100px;
  margin-bottom: 10px;
  // overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px;
  border-radius: 5px;

  .play-button {
    position: absolute;
    right: 16px;
    bottom: 12px;

    button {
      border: none;
      background: #fefefe;
      cursor: pointer;

      &:after {
        content: "▶";
        margin-left: 4px;
      }
    }
  }

  &.dummy {
    min-height: 2px;
    height: 2px;
    border-top: 0px;
    margin-top: -22px;
    position: relative;
  }

  // h2 {
  //   margin: 0;
  //   margin-bottom: 5px;
  //   font-size: large;
  //   border-bottom: #eee 1px solid;
  // }
  // a {
  //   text-decoration: none;
  //   color: #333;
  //   &:hover {
  //     text-decoration: underline;
  //     color: #aaa;
  //   }
  //   &:visited {
  //     color: #888;
  //   }
  // }
}

.album {
  margin: 40px 0;
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .album-meta {
    font-size: small;
    margin-bottom: 4px;
    h2 {
      margin: 0;
      padding-bottom: 8px;
      color: #555;
      border-bottom: 1px solid #eee;

      button {
        border: none;
        background-color: #fefefe;
        cursor: pointer;
      }
    }
  }
  .album-tracks {
    padding: 8px;
  }
  &.expanded .album-tracks {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  .rest {
    font-size: small;
    margin-top: -5px;
    padding-left: 16px;
    a {
      color: #888;
    }
  }
}

.clear {
  clear: both;
}

.image {
  img {
    width: 100px;
  }

  .artwork {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-bottom: 10px
  }
}

.data {
  flex-grow: 1;
  margin-left: 1em;
  h2 {
    margin-bottom: .25em;
    padding-bottom: .25em;
    font-size: 2rem;
    border-bottom: solid 1px rgba(#000,.2);
    a {
      color: #202020;
    }
  }

  .meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    time {
      display: inline-block;
      margin-right: 1em;
      color: #aaa;
      font-size: small;
    }
    .genre {
      display: inline-block;
      margin-right: 1em;
      font-size: 1.2rem;
      font-weight: 100;
      a {
        padding: .1em .35em;
        background-color: $linkColor;
        color: #fff;
        letter-spacing: 0;
      }
    }
    .release {}
    .profile {
      a {
        position: relative;
        text-decoration: none;
        &:after {
          content: attr(title);
          display: none;
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translateX(-50%);
          padding: .25em .5em;
          z-index: 100;
          font-size: 1rem;
          color: #fff;
          background-color: rgba(#000, .8);
        }
        &:hover:after {
          display: block;
        }
        &:hover:before {
          content: '\f0d7';
          display: block;
          position: absolute;
          top: -11px;
          left: 50%;
          transform: translateX(-50%);
          width: 10px;
          height: 10px;
          color: rgba(#000, .8);
          font-family: 'FontAwesome';
        }
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 0.5px solid #aaa;
        padding: 1px;
        vertical-align: middle;

        // +.name {
        //   display: none;
        //   margin-left: 5px;
        // }
        // &:hover + .name {
        //   display: inline;
        // }
      }
    }
  }
}




.preview {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .track {
    .preview {
      clear: both;
      padding-top: 20px;
      margin-left: 0px;
    }
     audio {
      width: 100%;
    }
    .play-button {
      right: 8px;
      bottom: 4px;
    }
  }
}

.preview audio {
  margin-bottom: -5px;
}

.preview span {
  font-size: small;
  margin-top: -5px;
}

.read-more {
  font-size: small;
  text-align: center;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  a {
    color: #888;
  }
}

#genres {
  position: sticky;
  top: 1.5em;
  h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(#fff,.2);
    color: #fff;
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: .25em;
    text-align: center;
  }
  ul {
    padding: 0;
    padding-top: 1em;
    color: #fff;
  }
  li {
    display: inline-block;
    list-style: none;
    padding: .2em;
    a {
      display: block;
      padding: .25em .5em;
      width: 100%;
      height: 100%;
      background-color: $linkColor;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 100;
      letter-spacing: 0;
      &:hover {
        background-color: $linkColor_hvr;
      }
      &.current {
        background-color: $activeColor;
      }
    }
  }
}

#player {
  position: fixed;
  bottom: 0;
  width: 672px;
  z-index: 100;
  font-size: x-small;
  box-sizing: border-box;
  min-height: 56px;
  margin-left: -16px;
  background-color: rgba(255, 255, 255, 0.95);

  h2 {
    font-size: small;
  }

  .artwork {
    width: 56px;
    height: 56px;
    margin: 0;
  }

  .meta {
    width: 64%;
    float: left;
    margin-left: 0;
    margin-right: 16px;

    .genre, .release {
      font-size: x-small;
      margin-top: 4px;
    }
  }

  .preview {
    margin: 0;
    padding-top: 2px;
    audio {
      width: 100%;
    }
    span {
      font-size: x-small;
    }
  }

  .banner {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 480px) {
  #player {
    width: 100%;
    margin-left: -8px;
    margin-bottom: 0px;
    .meta {
      margin-right: 0;
    }
    .banner {
      position: absolute;
      top: 6px;
      right: 6px;
      margin: 0;
      img {
        height: 25px;
      }
    }
  }
}
