body {
  background-color: #fefefe;
  margin: 0;
}

#container {
  max-width: 880px;
  margin: 0 auto;
  padding: 8px;
  position: relative;
}

#contents {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

#main {
  width: 640px;
}

#side {
  width: 240px;
}

@media screen and (max-width: 480px) {
  #side {
    display: none;
  }
}

header {
  margin: 0px;
  padding-top: 20px;
  font-size: small;

  h1 {
    margin: 0px;
    border-bottom: 1px solid #eee;
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: small;
  text-align: right;
  color: #888;
  a {
    color: #888;
  }
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

#menu {
  position: sticky;
  top: -1px;
  background-color: #fefefe;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 100;

  ul {
    padding: 0;
    margin: 0;
    position: relative;
  }
  li {
    display: inline-block;
    padding: 8px 4px;
    &.minimum {
      padding: 0 4px;
      button {
        padding: 0 4px;
        &:hover {
          text-decoration: none;
        }
        &:disabled {
          visibility: hidden;
        }
      }
    }
    &:last-child {
      position: absolute;
      right: 0;
      button {
        text-align: right;
      }
    }
  }
  button {
    border: none;
    padding: 8px 12px;
    text-align: left;
    background-color: #fefefe;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 480px) {
  #menu {
    li {
      padding: 0;
    }
  }
}

#tracks {
  min-height: 640px;
  margin-top: 8px;
}

.track {
  position: relative;
  color: #555;
  border: 1px solid #ddd;
  background-color: #fefefe;
  padding: 8px;
  min-height: 100px;
  margin-bottom: 10px;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px;
  border-radius: 6px;
  box-sizing: border-box;

  &.selected {
    border-color: #999;
    background-color: #f8f8f8;
  }

  .play-button {
    position: absolute;
    right: 16px;
    bottom: 12px;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:after {
        content: "▶";
        margin-left: 4px;
      }
    }
  }

  &.dummy {
    min-height: 2px;
    height: 2px;
    border-top: 0px;
    margin-top: -22px;
    position: relative;
  }
}

.album {
  margin: 40px 0;
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .album-meta {
    font-size: small;
    margin-bottom: 4px;
    h2 {
      margin: 0;
      padding-bottom: 8px;
      color: #555;
      border-bottom: 1px solid #eee;

      button {
        border: none;
        background-color: #fefefe;
        cursor: pointer;
      }
    }
  }
  .album-tracks {
    padding: 8px;
  }
  &.expanded .album-tracks {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  .rest {
    font-size: small;
    margin-top: -5px;
    padding-left: 16px;
    a {
      color: #888;
    }
  }
}

.clear {
  clear: both;
}

.track h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: large;
  border-bottom: #eee 1px solid;
}

.track a {
  text-decoration: none;
  color: #333;
}

.track a:hover {
  text-decoration: underline;
  color: #aaa;
}

.track a:visited {
  color: #888;
}

.image {
  max-width: 100px;
  float: left;
  margin-right: 10px;
}

.image .artwork {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px;
  background-size: cover;
}

.image img {
  max-width: 100px;
}

.meta {
  margin-left: 110px;
}

.meta time {
  color: #aaa;
  font-size: small;
}

.meta .genre {
  font-size: small;
}

.meta .release {
  font-size: small;
}

.meta .profile {
  font-size: small;
  margin-left: 5px;
}

.meta .profile img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 0.5px solid #aaa;
  padding: 1px;
  vertical-align: middle;
}

.meta .profile a {
  text-decoration: none;
}

.meta .profile img + .name {
  display: none;
  margin-left: 5px;
}

.meta .profile img:hover + .name {
  display: inline;
}

.preview {
  margin-top: 10px;
  margin-left: 110px;
}

@media screen and (max-width: 480px) {
  .track {
    .preview {
      clear: both;
      padding-top: 20px;
      margin-left: 0px;
    }
     audio {
      width: 100%;
    }
    .play-button {
      right: 8px;
      bottom: 4px;
    }
  }
}

.preview audio {
  margin-bottom: -5px;
}

.preview span {
  font-size: small;
  margin-top: -5px;
}

.read-more {
  font-size: small;
  text-align: center;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  a {
    color: #888;
  }
}

#genres {
  padding-top: 152px;
  padding-left: 16px;
  font-size: small;
  position: sticky;
  top: -118px;

  ul {
    padding: 0;
    padding-top: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  li {
    display: inline;
    list-style: none;
    line-height: 1.7em;
    padding: 0 2px;

    a {
      color: #888;
      &.current {
        text-decoration: underline;
      }
    }

    &:after {
      content: "/";
      padding-left: 4px;
    }
    &:last-child:after {
      content: none;
    }
  }
}

#player {
  position: fixed;
  bottom: 0;
  width: 672px;
  z-index: 100;
  font-size: x-small;
  box-sizing: border-box;
  min-height: 56px;
  margin-left: -16px;
  background-color: rgba(255, 255, 255, 0.95);

  h2 {
    font-size: small;
  }

  .artwork {
    width: 56px;
    height: 56px;
    margin: 0;
  }

  .meta {
    width: 64%;
    float: left;
    margin-left: 0;
    margin-right: 16px;

    .genre, .release {
      font-size: x-small;
      margin-top: 4px;
    }
  }

  .preview {
    margin: 0;
    padding-top: 2px;
    audio {
      width: 100%;
    }
    span {
      font-size: x-small;
    }
  }

  .banner {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 480px) {
  #player {
    width: 100%;
    margin-left: -8px;
    margin-bottom: 0px;
    .meta {
      margin-right: 0;
    }
    .banner {
      position: absolute;
      top: 6px;
      right: 6px;
      margin: 0;
      img {
        height: 25px;
      }
    }
  }
}

.popup-transition-enter {
  opacity: 0.01;
}

.popup-transition-enter.popup-transition-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.popup-transition-exit {
  opacity: 1;
}

.popup-transition-exit.popup-transition-exit-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.popup-dim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.popup-content {
  background-color: #fefefe;
  width: 680px;
  margin: auto;
  margin-top: 72px;
  border-radius: 6px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #ddd;
    padding: 8px 20px;
    height: 32px;
    line-height: 32px;
    color: #555;

    h1 {
      border: none;
      font-size: medium;
      text-shadow: 0 1px #fefefe;
    }

    button {
      border: none;
      background-color: transparent;
      font-size: 20px;
      padding: 0;
      text-shadow: 0 1px #fefefe;
    }
  }

  .help-contents {
    padding: 20px;
    font-size: 0.8em;
  }

  h2 {
    font-size: medium;
    margin: 0;
    margin-top: 24px;
    border-bottom: 1px solid #ddd;
  }

  .help-contents > section:first-child > h2 {
    margin-top: 0;
  }

  dt, dd {
    margin: 0;
    padding: 2px 0;
    height: 24px;
    line-height: 24px;
  }

  dt {
    float: left;
    clear: left;
    min-width: 160px;
    text-align: right;
    padding-right: 16px;
  }

  kbd {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    min-width: 16px;
    height: 21px;
    line-height: 21px;
    font-family: monospace;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 4px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  }
}
