<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>聴いてる</title>
    <meta property="og:title" content="聴いてる" />
    <meta property="og:description" content="僕か僕の知り合いの最近聴いた曲です" />
    <%- if production? %>
    <link href="<%= static_file("main.css") %>" rel="stylesheet" />
    <%- end %>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2936060-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-2936060-3');
    </script>
  </head>
  <body>
    <div id="container">
    </div>
    <script key="script" type='text/javascript'>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '1010ldrf']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>
    <script type="text/javascript" src="https://s.hatena.ne.jp/js/HatenaStar.js"></script>
    <script type="text/javascript">
        Hatena.Star.Token = '120ef1372e9f87fb61ac87785a4ae58b6f01292f';
        Hatena.Star.EntryLoader.loadEntries = function() { return []; };
        document.addEventListener('DOMContentLoaded', function() {
            Hatena.Star.EntryLoader.loadEntries = function(root) {
                var c = Hatena.Star.EntryLoader;
                var entries = [];
                var tracks = root.querySelectorAll('.track:not(.dummy):not(#player)');
                for (var i = 0; i < tracks.length; i++) {
                    var node = tracks[i];
                    var container = node.querySelector('h2');
                    var starButton = container.querySelector('.hatena-star-star-container');
                    if (starButton !== null) { continue; }
                    var anchor = container.querySelector('a');
                    var entry = { entryNode: node };
                    entry.title = anchor.textContent;
                    entry.uri = "http://music.hacobun.co/?url=" + encodeURIComponent(anchor.href);
                    entry.comment_container = c.createCommentContainer();
                    entry.star_container = c.createStarContainer();
                    container.appendChild(entry.comment_container);
                    container.appendChild(entry.star_container);
                    entries.push(entry);
                }
                return entries;
            };
        });
    </script>
    <%- if production? %>
    <script src="<%= static_file("runtime.js") %>"></script>
    <script src="<%= static_file("vendor.js") %>"></script>
    <script src="<%= static_file("main.js") %>"></script>
    <%- else %>
    <script src="/dev/js/main.js"></script>
    <%- end %>
  </body>
</html>
