<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>聴いてる</title>
  </head>
  <body>
    <header>
      <h1>聴いてる</h1>
    </header>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
