<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>聴いてる</title>
    <style>
      .track {
        color: #555;
        border: 1px solid #aaa;
        padding: 5px;
        min-height: 100px;
        margin-bottom: 10px;
      }
      .clear {
        clear: both;
      }
      .track img {
        max-width: 100px;
        float: left;
        margin-right: 20px;
      }
      .track h2 {
        margin: 0;
        margin-bottom: 5px;
      }
      .track h2 a {
        text-decoration: none;
        color: #333;
      }
      .track h2 a:hover {
        text-decoration: underline;
        color: #333;
      }
      .track time {
        color: #aaa;
        font-size: small;
      }
      .preview {
        margin-top: 10px;
        margin-left: 120px;
      }
      .preview span {
        font-size: small;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>聴いてる</h1>
    </header>
    <div id="container">
      <%= yield %>
    </div>
    <footer>
      <a href="https://twitter.com/tomohi_ro">@tomohi_ro</a>
    </footer>
  </body>
</html>
