<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>聴いてる</title>
    <style>
      header {
        margin-bottom: 30px;
      }
      footer {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .track {
        color: #555;
        border: 1px solid #aaa;
        padding: 5px;
        min-height: 100px;
        margin-bottom: 10px;
      }
      .clear {
        clear: both;
      }
      .track h2 {
        margin: 0;
        margin-bottom: 5px;
      }
      .track a {
        text-decoration: none;
        color: #333;
      }
      .track a:hover {
        text-decoration: underline;
        color: #333;
      }
      .track time {
        color: #aaa;
        font-size: small;
      }
      .image {
        max-width: 100px;
        float: left;
        margin-right: 10px;
      }
      .image .artwork {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }
      .image img {
        max-width: 100px;
      }
      .preview {
        margin-top: 10px;
        margin-left: 120px;
      }
      .preview audio {
        margin-bottom: -5px;
      }
      .preview span {
        font-size: small;
        margin-top: -5px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>聴いてる</h1>
      僕か僕の知り合いが最近聴いた50曲です。
    </header>
    <div id="container">
      <%= yield %>
    </div>
    <footer>
      <a href="https://twitter.com/tomohi_ro">@tomohi_ro</a>
    </footer>
  </body>
</html>
