<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>聴いてる</title>
    <style>
      header {
        margin-bottom: 30px;
      }
      footer {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      a {
        text-decoration: none;
        color: black;
      }
      .track {
        color: #555;
        border: 1px solid #aaa;
        padding: 5px;
        min-height: 100px;
        margin-bottom: 10px;
      }
      .clear {
        clear: both;
      }
      .track h2 {
        margin: 0;
        margin-bottom: 5px;
        font-size: large;
      }
      .track a {
        text-decoration: none;
        color: #333;
      }
      .track a:hover {
        text-decoration: underline;
        color: #aaa;
      }
      .track a:visited {
        color: #888;
      }
      .track time {
        color: #aaa;
        font-size: small;
      }
      .track .genre {
        font-size: small;
      }
      .image {
        max-width: 100px;
        float: left;
        margin-right: 10px;
      }
      .image .artwork {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }
      .image img {
        max-width: 100px;
      }
      .preview {
        margin-top: 10px;
        margin-left: 110px;
      }
      .preview audio {
        margin-bottom: -5px;
      }
      .preview span {
        font-size: small;
        margin-top: -5px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1><a href="/">聴いてる</a><%- unless @genre_name.blank? %> - <%= @genre_name %><%- end %></h1>
      僕か僕の知り合いが最近聴いた<%= @genre_name %>50曲です。
    </header>
    <div id="container">
      <%= yield %>
    </div>
    <footer>
      <a href="https://twitter.com/tomohi_ro">@tomohi_ro</a>
    </footer>
    <script type='text/javascript'>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '1010ldrf']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>
  </body>
</html>
